@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

/*================== Configurações Globais ================*/
html, body {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    min-height: 100%;}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    flex: 1;}

.main-content {
    flex: 1; 
    display: flex;
    flex-direction: column;}

.icone-branco {
    filter: invert();
}
/*=========================================================*/
    


/*===================== Topo da Página ====================*/
.topo {
    top: 0;
    width: 100%;
    z-index: 90000;
    position: fixed;
    background-color: white;
    max-width: 100vw;
    box-sizing: border-box; 
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: box-shadow .3s ease;
    flex-shrink: 0;}

.topo.scrolled {
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);}

.usuario-area {
    display: flex;
    align-items: center;
    margin-right: 70px;}

.usuario-area > span {
    margin-top: 5px;
    font-family: 'Rubik';
    font-size: 20px;
    color:#616161;}

.topo-notificacoes {
    margin-top: 5px;
    height: 25px;
    width: 25px;
    background: rgb(255, 145, 0);
    padding: 13px;
    margin-right: 10px;
    border-radius: 100px;}

.topo-notificacoes img {
    height: 100%;
    width: 100%;}

.menu-topo-topo img {
    margin-top: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;}
/*=========================================================*/



/*======================== Banner =========================*/
.banner {
    margin-top: 80px;
    width: 100%;
    height: 200px;
    background: rgb(255, 145, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;}

.banner h1, .banner p {
    color: #fff;
    margin: 5px;
    text-align: center;
    text-shadow: 0px 0px 0px rgba(0,0,0,0.3);}

.banner h1 { font-size: 55px; }
.credenci-grande { font-weight: 700; }
.credenci-pequeno { font-weight: 400; }
.banner p { font-size: 20px; }
/*=========================================================*/



/*==================== Aba de Pesquisa ====================*/
.area_busca {
    width: 100%;
    display: flex;
    justify-content: flex-end; 
    margin-top: 20px;
    padding-right: 20px;}


.area_busca div {
    margin-right: 0;
    border: 1px solid #c0c0c0;
    background: #fff;
    width: 80%;
    max-width: 700px;
    height: 55px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    transition: 0.3s ease}

.area_busca img { width: 30px; height: 30px; margin-right: 10px; }
.area_busca input { padding: 10px; border-radius: 6px; border: none; outline: none; flex: 1; font-size: 16px; }

.area_busca div:hover {
    border-color: #ff9900; 
    box-shadow: 0px 4px 12px rgba(0,0,0,0.18);
    transform: scale(1.01);}

.area_busca {
    box-sizing: border-box;}
/*=========================================================*/



/*=================== Botões Secundários ==================*/
.botoes-secundarios {
    width: 100%;
    height: 100px;
    background: #f1f1f1; 
    margin-top: 60px;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    flex-shrink: 0;}

.card-cinza {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    max-width: 1100px;
    flex-wrap: wrap;}

.card-cinza { max-width: 900px; }

.card-secundario {
    margin-top: 20px;
    padding: 20px 30px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 50px;
    width: 250px;
    transition: .2s;}

.card-cinza .card-secundario { background: #e8e8e8; color: #333; }
.card-cinza .card-secundario:hover { border: 1px solid #ff9900;}
.card-secundario img { width: 36px; }
.card-secundario a { font-size: 20px; font-weight: 600; color: inherit; text-decoration: none; }
.card-secundario:hover { transform: scale(1.03); cursor: pointer;}

.card-menor { height: 15px; }
.card-menor a { font-size: 16px; }
/*=========================================================*/



/*===================== FAQ / Accordion ====================*/
.faq-section {
    padding: 2em 11em;
    display: flex;
    flex-direction: column;
    gap: 2em;}
    
.faq-item {
    overflow: visible;}

.faq-item:hover {
    position: relative;
    z-index: 9999;}

.faq-question {
    background: #fff;
    color: #0c3666;
    font-size: 25px;
    font-weight: 500;
    padding: 20px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
    text-align: left;
    border: none;
    border-bottom: 1px solid #ddd;
    transition: background 0.2s ease, color 0.2s ease;}

.faq-question:hover {
    background: #f5f5f5;}

.faq-question:focus {
    outline: none;}

.faq-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0px 10px;
    overflow: visible;
    max-height: 0;
    opacity: 0;
    transform: translateY(-8px);
    transition:
        max-height 0.4s ease,
        opacity 0.25s ease,
        transform 0.25s ease;}


.faq-item.open .faq-content {
    padding: 30px 10px;
    max-height: 3000px; 
    opacity: 1;
    transform: translateY(0);}

.arrow-img {
    padding-right: 10px;
    position: relative;
    width: 40px;
    height: 40px;
    z-index: 1;
    min-width: 18px;
    min-height: 18px;
    object-fit: contain;
    flex-shrink: 0;
    transition: transform 0.3s ease;
    filter: invert(14%) sepia(56%) saturate(430%)
            hue-rotate(182deg) brightness(90%) contrast(95%);}

.faq-item.open .arrow-img {
    transform: rotate(180deg);}
/*=========================================================*/



/*========================= Cargos ========================*/
.cargo-item {
    position: relative;
    background-color: #e8e8e8;
    color: #0c3666;
    padding: 20px 10px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid #aaaaaa;
    text-align: center;
    transition: 0.2s;
    z-index: 1;}

.cargo-item:hover {
    z-index: 10000; 
    cursor: pointer;
     transform: scale(1.03);
    background-color: #0c3666;
    color: white;}

/* Balão que flutua */
.cargo-tooltip {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(8px);
    width: 360px;
    max-height: 200px;      
    overflow-y: auto;        
    background: white;
    color: #333;
    padding: 18px;
    border-radius: 8px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.3);
    border-top: 5px solid #f37c1b;
    opacity: 0;
    visibility: hidden;
    transition: 0.25s ease;
    font-weight: normal;
    font-size: 17px;
    text-align: left;
    z-index: 999;}

.cargo-tooltip-content {
    padding: 12px 10px;
    font-size: 16px;
    line-height: 1.5;
    color: #333;}

.cargo-item:hover .cargo-tooltip {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(14px);}

.cargo-tooltip::-webkit-scrollbar {
    width: 6px;}

.cargo-tooltip::-webkit-scrollbar-thumb {
    background: #f37c1b;
    border-radius: 10px;}

.lei {
    color: #f37c1b;
    text-decoration: underline;}
/*=========================================================*/



/*========================= Overlay =======================*/
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    display: none;
    z-index: 95000;}
/*=========================================================*/



/*====================== Menu Lateral =====================*/
.menu {
    position: fixed;
    top: 0;
    left: -250px; 
    width: 250px;
    height: 100vh; 
    background: #fff;
    box-shadow: 2px 0 10px rgba(0,0,0,0.2);
    transition: left 0.3s ease;
    z-index: 100000;
    display: flex;
    flex-direction: column;}

.menu.expanded { left: 0;}

.menu .btn-fechar {
    width: 30px;
    height: 30px;
    margin: 15px;
    cursor: pointer;
    align-self: flex-end;}

.menu-list {
    list-style: none;
    padding: 20px;
    margin: 0;}

.menu-list li {
    margin: 15px 0;
    opacity: 0;
    transform: translateX(-20px);
    transition: transform 0.3s ease, opacity 0.3s ease;}

.menu.expanded li {
    opacity: 1;
    transform: translateX(0);}

.menu-list li a {
    text-decoration: none;
    color: #0c3666;
    font-size: 16px;
    font-weight: 600;
    transition: transform 0.2s, color 0.2s;}

.menu-list li a:hover {
    color: #ff9900;
    transform: scale(1.05);}

.menu-sociais {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 30px 0;
    margin-bottom: 20px;
    margin-top: auto;}

.menu-sociais img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.2s;}

.menu-sociais img:hover { transform: scale(1.1);}
/*=========================================================*/


/* Classe que trava o scroll */
.no-scroll {
    overflow: hidden !important;
    height: 100vh !important;}


/*==================== Responsividade =====================*/

@media (min-width: 1600px) {
    .faq-section {
        padding: 2em 20%; }
    .area_busca div {
        max-width: 800px; }}

@media (max-width: 1200px) {
    .faq-section {
        padding: 2em 5%;}
    .usuario-area {
        margin-right: 30px;}
    .banner h1 {
        font-size: 45px;}}

@media (max-width: 992px) {
    .faq-content {
        grid-template-columns: repeat(2, 1fr); 
        gap: 15px;}
    .banner h1 {
        font-size: 35px;}
    .area_busca div {
        width: 80%;}
    .topo {
        padding: 10px 20px;}}

/*MOBILE*/
@media (max-width: 600px) {

    html, body {
        margin: 0 !important;
        padding: 0 !important;
        overflow-x: hidden;}

    body {
        padding-top: 60px !important; }

    .topo {
        position: fixed !important;
        top: 0 !important;
        left: 0 !important;
        width: 100% !important;
        height: 60px !important; 
        padding: 0 15px !important;
        margin: 0 !important;
        display: flex !important;
        z-index: 10000;}

    .banner {
        margin-top: 0 !important; 
        width: 100% !important;}

    .menu {
        position: fixed !important;
        height: 100% !important;
        height: 100dvh !important;
        top: 0 !important;
        bottom: 0 !important;}

    .faq-content {
        display: flex !important;
        flex-direction: column !important;}

    .cargo-item {
        position: relative !important;
        display: block !important;
        height: auto !important; 
        padding: 0 !important; 
        overflow: hidden;
        border: 1px solid #ddd;
        margin-bottom: 8px;}

    .cargo-titulo {
        padding: 15px !important;
        margin: 0 !important;
        display: block !important;
        background: #eee; 
        width: 100% !important;
        box-sizing: border-box;}

    .cargo-tooltip {
        display: none !important; 
        position: static !important; 
        width: 100% !important;
        opacity: 1 !important; 
        visibility: visible !important;
        box-shadow: none !important;
        border: none !important;
        transform: none !important;}

    .cargo-item.active .cargo-tooltip {
        display: block !important; 
        border-top: 2px solid #f37c1b !important;}

    .cargo-tooltip-content {
        padding: 15px !important;
        height: auto !important;
        max-height: 150px; 
        overflow-y: auto !important;}

    .cargo-tooltip-content p {
        position: static !important; 
        margin: 0 !important;
        width: 100% !important;
        font-size: 14px !important;
        line-height: 1.5 !important;
        color: #333 !important;
        text-align: left !important;}}
/*=========================================================*/






