@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

/*================== Configurações Globais ================*/
html, body {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    min-height: 100%;}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    flex: 1;}

.main-content {
    flex: 1; 
    display: flex;
    flex-direction: column;}
/*=========================================================*/



/* ===================== Fontes e Cores ================== */
:root {
    --cor-laranja:rgb(255, 145, 0);
    --cor-cinza-claro: #f5f5f5;
    --cor-cinza-medio: #e0e0e0;
    --cor-cinza-escuro: #616161;
    --cor-preto: #000000;
    --cor-branco: #FFFFFF;

    --fonte-prncipal: 'Roboto', sans-serif;
    --fonte-secundária: 'Rubik', sans-serif;}
/*=========================================================*/



/* ============= Topo da página (header base) ============ */
.topo {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;}

.header-caixa {
    background: var(--cor-branco);
    margin: 0 auto;
    max-width: 1400px;
    padding: 25px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease;}

.topo-esquerda .logo-esesp {
    height: 120px;
    transition: all 0.3s ease;}

.topo-centro {
    font-family: var(--fonte-secundária);
    font-size: 27px;
    color: var(--cor-cinza-escuro);
    text-align: center;
    flex: 1;}
/*=========================================================*/



