
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

/*================== Configurações Globais ================*/
html, body {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    min-height: 100%;}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    flex: 1;}

.main-content {
    flex: 1; 
    display: flex;
    flex-direction: column;}
/*=========================================================*/



/* ===================== Fontes e Cores ================== */
:root {
    --cor-laranja:rgb(255, 145, 0);
    --cor-cinza-claro: #f5f5f5;
    --cor-cinza-medio: #e0e0e0;
    --cor-cinza-escuro: #616161;
    --cor-preto: #000000;
    --cor-branco: #FFFFFF;

    --fonte-prncipal: 'Roboto', sans-serif;
    --fonte-secundária: 'Rubik', sans-serif;}
/*=========================================================*/



/* ===================== Header Topo ===================== */
.topo { 
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--cor-branco);
    z-index: 999;
    transition: all 0.3s ease;}

.header-caixa { 
    max-width: 100%; 
    margin: auto;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 40px; 
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);}

.topo-esquerda-wrapper {
    padding: 10px;
    position: absolute;
    left: 20px;         
    top: 50%;
    transform: translateY(-50%);}

.topo-esquerda {
    display: flex;
    align-items: center;}

.topo-esquerda img { 
    padding-bottom: 10px;
    justify-content: left;
    height: 70px;
    transition: all 0.3s ease;}

.topo-centro {
    flex: 2; 
    font-size: 24px; 
    font-weight: 500;
    color: var(--cor-cinza-escuro);
    text-align: center;
    transition: all 0.3s ease;}

.topo-direita {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 14px;}

.separador {
    width: 1px;
    height: 50px;
    background: rgb(182, 182, 182)}
/*=========================================================*/



/* ============== Efeito Estilo Marc Jacobs ============== */
.topo.encolhido {
    top: 20px; 
    width: 95%; 
    left: 50%;
    transform: translateX(-50%); 
    border-radius: 15px; 
    box-shadow: 0 10px 30px rgba(0,0,0,0.1); 
    overflow: hidden; }

.topo.encolhido .header-caixa {
    height: 70px;}

.topo.encolhido .dropdown-usuario {
    top: calc(100% + 15px); }
/*=========================================================*/



/* ================== Área do Usuário ==================== */
.usuario-area {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;}

.usuario-area span {
    font-family: 'Rubik';
    font-size: 18px;
    color: #616161;
    white-space: nowrap;}

.link-contatos {
    text-decoration: none;
    font-family: 'Rubik';
    font-size: 18px;
    color: var(--cor-cinza-escuro);
    white-space: nowrap;
    transition: 0.5s;}

.link-contatos:hover {
    transform: scale(1.05);
    color: #4e4e4e;
}

.seta-usuario {
    cursor: pointer;
    width: 20px;
    transition: 0.3s;}

.dropdown-usuario {
    position: absolute;
    top: 100%; 
    right: 0;
    background: var(--cor-branco);
    border-radius: 0 0 10px 10px; 
    min-width: 220px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    display: flex; 
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px); 
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: 1000;}

/*classe do JavaScript*/
.dropdown-usuario.ativo {
    opacity: 1;
    visibility: visible;
    transform: translateY(0); }

.topo.encolhido .dropdown-usuario {
    top: 100%;}

.dropdown-usuario a {
    padding: 14px 18px;
    text-decoration: none;
    color: #333;
    font-size: 15px;
    transition: background 0.2s;}

.dropdown-usuario a:hover {
    background: #f2f2f2;}

.dropdown-usuario a:last-child {
    border-top: 1px solid #e0e0e0;
    color: #c0392b;}

.dropdown-usuario a:hover {
    background: #f2f2f2;}

.faixa-laranja {
    height: 15px;
    background: var(--cor-laranja);}

.topo-notificacoes { margin-top: 5px; 
    height: 27px; 
    width: 27px; 
    background: var(--cor-laranja); 
    padding: 13px; 
    margin-right: 3px; 
    border-radius: 100px;}

.topo-notificacoes img { 
    filter: invert(100%);
    height: 100%; 
    width: 100%;} 
/*=========================================================*/
